* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #fff1e6;
}

/* ----------------COMMON NAV + INJECT AREA------------------------- */

#main-box {
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    /* gap: 5%; */
}

a {
    border: 2px solid black;
    padding: 30px;
    text-align: center;
}

nav {
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100%;
    gap: 30px;
    padding: 0px 20px 0 20px;

    /* border: 2px solid black; */
    /* border-radius: 30px; */
    background-color: #fcefb4;
}

#changingArea {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
    width: 100%;

    /* border : 2px solid black; */
    /* border-radius: 30px; */
    background-color: #fdf8e1;
}

/* ----------------LANDING VIEW------------------------- */

.signin-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
}

.popup-form {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    border: 2px solid red;
    padding: 15px;
}

.active {
    display: flex;
}


/* ----------------PROFILE VIEW------------------------- */

#profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    gap: 3%;
}

.profile-infos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;

    /* border: 2px solid black; */
    /* background-color: #fcefb4; */

    border-radius: 20px;
    background: linear-gradient(#FFEFBA, #FFFFFF);
}

.profile-subpart {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

    gap: 3%;
    width: 80%;
    height: 40%;
}

.avatar-selection {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background: linear-gradient(#FFEFBA, #FFFFFF);;
}
